<section class="main">
  <app-input [itemParaEditar]="itemASerEditado"> </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h2 class="title-list">Lista de Compras</h2>
        <button class="btn-header" type="button" (click)="limparLista()">
          <small>Limpar lista</small>
        </button>
      </div>
      @if (listaDeCompras.length !== 0) { @for (itemLista of listaDeCompras;
      track itemLista.id) {
      <app-item
        [item]="itemLista"
        (itemASerEditado)="editarItem($event)"
        (itemParaMarcarDesmarcar)="marcarDesmarcarItem($event)"
        (idDoItemASerApagado)="apagarItem($event)"
      ></app-item>
      } } @else { <small> Lista VAZIA </small>
      }
    </div>
  </div>
</section>
<!-- you're using track $index which works, but for better performance with data mutations, 
 consider tracking by itemLista.id -->
