<section class="main">
  <app-input [itemParaEditar]="itemASerEditado"> </app-input>
  <div class="container">
    <div class="lista">
      <h2 class="title-list">Lista de Compras</h2>
      @if (listaDeCompras.length !== 0) { @for (itemLista of listaDeCompras;
      track $index) {
      <app-item
        [item]="itemLista"
        (itemParaMarcarDesmarcar)="marcarDesmarcarItem($event)"
        (itemASerEditado)="editarItem($event)"
        (idDoItemASerApagado)="apagarItem($event)"
      ></app-item>
      } } @else { <small> Lista VAZIA </small>
      }
    </div>
  </div>
</section>
